# ** Introduction to Python Programming**

In [2]:
# variable assignment 
number = 200
number1 = 100
number2 = 100.20

str = 'hello world' 

num = '1234'
num1,num2,num3 = 12,13,14

In [3]:
print(number)

200

In [4]:
type(number)

int

In [6]:
print(type(number1))
print(type(number2))
print(type(str))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
num1,num2,num3,_ = 100,233,344,455

In [12]:
n1,n2,n3, = 100,200,_

In [13]:
print(' the variable number is ',number)

 the variable number is  200

In [14]:
number1 = 1000
number2 = 2000
number3 = number1+number2
print("the addition of numnber1 + number2 is ",number3)

the addition of numnber1 + number2 is  3000

In [15]:
number1 = 1000
number2 = 2000
number3 = number1-number2
print("the addition of numnber1 + number2 is ",number3)

the addition of numnber1 + number2 is  -1000

In [16]:
number1 = 1000
number2 = 2000
number3 = number1*number2
print("the addition of numnber1 + number2 is ",number3)

the addition of numnber1 + number2 is  2000000

In [19]:
number1 = 1000
number2 = 2000
number3 = number2/number1
print("the addition of numnber1 + number2 is ",number3)

the addition of numnber1 + number2 is  2.0

In [20]:
#floor division
number1 = 1000
number2 = 2000
number3 = number2//number1
print("the addition of numnber1 + number2 is ",number3)

the addition of numnber1 + number2 is  2

In [ ]:
num1 = 100
num2 = '1234'
print ('addition of num1 and num2:',(num1 * num2)) #never add int and string but "multiply" is allowed ( example = if i choose one as a numerical column and second i achoose string and i print multiplication then it will be print multiple timesn rahter then all arithmatic operators)

addition of num1 and num2: 1234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234123412341234

In [2]:
name = input("enter a name :")
print(name)

preet

In [4]:
print(type(name))

<class 'str'>

In [ ]:
#type casting


num =int(input("enter a number :"))

print(num)
print(type(num)) #this is called type casting from string to integer

27
<class 'int'>

In [ ]:
#addtion of two numbers

num1 = float(input("enter a first numbers")) # int is typecasting  then float is not  allowed but float is in typecasting then int will accept
num2 = float(input("enter a second numbers"))

print("the sum of two numbers",num1+num2)

n1=eval(input("enter name "))#eval can accept all numerical arguments

the sum of two numbers 46.0

In [ ]:
#data struture in python

#list(mutable)it can be change
lst=[10,10.20,"hello world"]# one dimentional array    
print(lst)

#tuple(immutable) but it cannot be change
tup=()

[10, 10.2, 'hello world']